@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
body {
    font-family: 'Lato', Lato-fallback, Arial, sans-serif;
    margin: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #111;
    color: white;
    text-align: center;
    padding: 20px;
}

nav {
    background-color: #333;
    text-align: center;
    padding: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 15px;
    font-weight: bold;
}

nav a:hover {
    color: yellow;
}

section {
    padding: 20px;
    background-color: white;
    margin: 20px;
    border-radius: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    background-color: #222;
    color: white;
}

th, td {
    padding: 10px;
    text-align: center;
}

form input, form select {
    width: 100%;
    padding: 8px;
}

form input[type="submit"] {
    background-color: #111;
    color: white;
    border: none;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #444;
}

footer {
    text-align: center;
    background-color: #111;
    color: white;
    padding: 10px;
}